.edit {
  width: 45%;
  min-height: 100%;

  &__title {
    margin-bottom: 30px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__textarea {
    @include form-item;
    width: 100%;
    height: 80%;
    resize: none;
    padding: 10px;
    overflow: auto;
    margin-bottom: 30px;
  }

  &__submit {
    @include form-item;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: $hover-color;
    }
  }
}
